
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>v2.0</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="../../Content/bootstrap.min.css" rel="stylesheet" />
    <link href="../../Content/app.css" rel="stylesheet" />
</head>
<body style="background-color:lightsteelblue; text-align:center">
    <div class="container-fluid">
        <div class="row">
            <aside class="col-sm-2">
                <h4 class="range-title">
                </h4>
                <div class="range-list">
                </div>
            </aside>
            <section class="col-sm-8" style="padding-top:5em;">
                <article>
                    <div class="row">
                        <p class="col-sm-10" >
                            <div><label style="padding-bottom:1em;font-size:72px;font-family:Broadway">LHT GARAGE</label></div>
                            <div style="padding-bottom:1em;">
                                <h3>@Html.ActionLink("Registrera", "Create")</h3>
                            </div>
                            <div style="padding-bottom:1em;">
                                <h3> @Html.ActionLink("Sök", "Search")</h3>
                            </div>
                            <div style="padding-bottom:1em;">
                                <h3> @Html.ActionLink("Checka ut", "Index")</h3>
                            </div>
                            <div style="padding-bottom:1em;">
                                <h3> @Html.ActionLink("Överblick", "Index")</h3>
                            </div>
                        </p>
                        <div class="col-sm-2"> 
                        </div>
                    </div>
                </article>
            </section>
            <aside class="col-sm-2">

            </aside>
        </div>
    </div>
    <footer class="container-fluid;" style="font-style:italic;padding-left:2em;padding-right:2em;padding-top:7em; text-align:center;">     
            <p><b>Parkera nära det mesta i centrala Stockholm.</b></p>
            <div>Vårt parkeringshus är centralt beläget med närhet till shopping, kultur, nöje, restauranger och när man tänker efter, hela Europa!</div>
            <div>LHT GARAGE ligger mitt i Stockholms absoluta centrum. Från oss når du några av Stockholms största varuhus och gallerior på några minuters gångavstånd. I närheten finns också erkända restauranger och den på sommaren pulserande Kungsträdgården. Fråga oss gärna om tips på vad som finns i närheten!</div>
            <div>Men Europa då?</div>
            <div>Just det, det där med Europa är något vi lite skämtsamt brukar säga om vårt garage. Men helt osant är det ju inte. LHT GARAGE ligger mitt emot Centralstationen och därifrån tar du dig lätt vidare med tåg och flyg (via Arlanda express) till hela Europa och resten av världen. Om du väljer att stanna i Stockholm så finns Hötorget, Åhlens och massor av annat i närheten.</div>       
            <p><b>Vi finns på Centralplan 1. Välkommen in!<br />Lena, Hans och Tomas</b></p>
    </footer>

</body>

</html>



